*{
    margin:0px;
}
.home{
     background-image: linear-gradient(to bottom right,#A9F1DF, #FFBBBB);

}
.app__header{
    margin-top: 10px;
background-color: white;

}


.app__headerImage{
object-fit: contain;
border-bottom: 5px light rgb(179, 177, 177);
color: white ;
}

.imageupload{
    margin-left: auto;
    margin-right:auto;
    width:60%;
    margin-bottom: 10px;
    margin-top: 10px;;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid light grey;
}

.logo{
    background-color: rgb(21, 11, 53);
    height:min-content;
    display:flex;
    width:100%;
    padding-left:10px;

}





.home1{
    background-image: linear-gradient(to bottom right,#c33764, #1d2671); 
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-left: 900px;
    margin-top: 40px;
}
.signup{

    background-image: linear-gradient(to bottom right,#c33764, #1d2671);
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.signin{
    background-image: linear-gradient(to bottom right,#c33764, #1d2671);
    padding-left: 15px;
padding-right: 15px;
color: white;
}








